

// Autocomplete
.autocomplete {
  .autocomplete-list {
    @include absolute;
    @include margin(0 0);
    @include padding(0 0);
    @include border(map-get($colors, gray3), .5);
    @include bg-color(white);
    @include drop-shadow(1, .5);
    @include z(1000);

    left: 0;
    list-style-type: none;
    max-height: 18em;
    overflow-y: scroll;
    top: 100%;
    width: 100%;

    li {
      span {
        @include padding(1 1);
        @include block;
        @include color(gray3);
        @include text(normal);
        @include text-italic;
      }

      a {
        @include block;
        @include text(normal);
        @include color(gray2);
        @include padding(1 1);
        text-decoration: none;

        &:hover {
          @include color(theme-color4);
          @include text-underline;
        }

        &.selected {
          @include bg-color(theme-color4);
        }
      }
    }
  }
}
