
// Extra Page Layout Elements
.card-container {
  @include margin(0);
  @include padding(0);
  @include relative;
  list-style-type: none;

  .empty-text {
    @include absolute;
    @include text-center;
    @include padding(2);
    @include border(theme-color2);
    @include bg-color(white);
    @include z(1000);
    left: 30%;
    top: 2em;
    width: 40%;
  }

  .card-content {
    @include margin(1);
    @include padding(2);
    @include bg-color(white);
    @include text-size(map-get($font-sizes, smaller));
    @include color(gray1);
    @include border(map-get($colors, gray4));
    list-style-type: none;
  }

  .card {
    &:first-child {
      .card-content {
        @include margin-left(0);
      }
    }
  }

  &.grid-view {
    @include text-center;

    .card {
      @extend .grid-4;
      @include text-center;

      &.inactive {
        @extend .hide;
      }
    }
  }

  &.list-view {
    .card {
      @extend .grid-12;

      &.inactive {
        @extend .hide;
      }
    }
  }
}

.card-count {
  @include text-center;
  @include margin(0 1);
}
