

.radio-container {
  @include relative;
  @include margin-bottom(2);
  @include padding-right(3);

  input[type='radio'] {
    @include text-disappear;

    & + label {
      @include inline-block;
      @include animate;
      @include text(body);

      @include padding(1.5 1);

      &:before {
        @include icon('circle');
        @include animate;
        @include inline-block;
        @include bg-color(gray5);
        @include color(gray5);
        @include border(gray3);
        // @include opacity(0);
        @include round;
        @include drop-shadow(0, 0, map-get($colors, theme-color2));
        @include margin-right;
        @include text-center;
        height: ($line-height * 1em);
        line-height: ($line-height * .9em);
        width: ($line-height * 1em);
      }
    }

    &:focus + label {
      &:before {
        @include border(map-get($colors, theme-color2));
        @include drop-shadow(1, 0, fade-out(map-get($colors, theme-color2), .5));
        outline: none;
      }
    }

    &:checked + label {
      // @include color(black);

      &:before {
        // @include opacity(1);
        @include color(black);
        // @include round;
      }
    }


    &[disabled] + label {
      @include color(gray2);

      &:before {
        @include bg-color(gray4);
        // @include color(gray4);
      }
    }

    &.error + label {
      &:before {
        @include bg-color(gray5);
        @include border(map-get($colors, theme-color6));
        @include round;
        @include color(map-get($colors, theme-color6));
      }
    }
  }
}
